@{
	ViewData["Title"] = "Reset password confirmation";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@Localizer["system_log_in"]</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/jquery-toast-plugin/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="~/themes/gear/css/gear.min.css" />
	<link rel="stylesheet" type="text/css" href="~/themes/gear/css/loader.css" />
	<link rel="stylesheet" type="text/css" href="~/themes/public/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-light bg-white border-bottom py-0 px-40 main-nav">
		<a href="/" class="navbar-brand d-md-inline-block d-none">
			<img src="../themes/gear/img/logo.jpg" alt="" class="img-fluid">
		</a>
	</nav>
	<section id="wrapper" class="login-register login-sidebar d-flex">
		<div class="login-box mx-auto col-lg-4 col-md-6 col-sm-8 col-12">
			<h2 class="py-3 mb-0 fw-600 text-center">@ViewData["Title"]</h2>
			<p class="text-center">
				Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
			</p>
		</div>
	</section>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/tether/js/tether.min.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
	<script src="~/themes/admin/js/admin-theme-script.js"></script>
	<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script src="~/lib/sticky-kit/sticky-kit.min.js"></script>
	<script src="~/lib/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
	<script src="~/assets/js/core.js" asp-append-version="true"></script>
</body>
</html>