@{
	ViewData["Title"] = "Add organization";
}
@section Styles
{
}

<AddOrganization />

@section Scripts
{

	<script>
		Vue.component('AddOrganization', {
			template: `
						<div>
							Add here
						</div>`,
			data() {
				return {
					
				};
			},
		});

	</script>
}